<!DOCTYPE html><html lang=en><head><meta charset=UTF-8><meta name=viewport content="width=device-width,initial-scale=1"><meta http-equiv=X-UA-Compatible content="ie=edge"><title>语音读写和合成</title><style>.main {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .main > div {
            width: 200px;
            height: 100px;
            background: #aaaaaa50;
            margin-bottom: 24px
        }</style><link href=/static/css/index.css?164601b9d598b2e81a5b rel=stylesheet></head><body><div class=main><div id=result_output></div><button class="taste-button ready-button" id=taste_button>开始</button></div><script type=text/javascript src=/static/js/runtime.js?164601b9d598b2e81a5b></script><script type=text/javascript src=/static/js/commons.js?164601b9d598b2e81a5b></script><script type=text/javascript src=/static/js/jquery.js?164601b9d598b2e81a5b></script><script type=text/javascript src=/static/js/index.js?164601b9d598b2e81a5b></script></body></html>